*, :after, :before { box-sizing: border-box; }

/*
========================================================================================================================
    GENERAL
========================================================================================================================
*/

body {
    background-color: cadetblue;
    font-family: tahoma, sans-serif;
}

h1 {
    margin-left: 20px;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
}

a {
    padding: 10px;
}

h3 a {
    padding: 0px;
}


/*
========================================================================================================================
    TABLE
========================================================================================================================
*/

.contactsTable {
    border-collapse: collapse;
    margin-left: 20px;

}

th {
    background-color: #80ced6;
    text-align: center;
    font-size: 16px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px 10px 20px;

}

td {
    background-color: #d5f4e6;
    text-align: left;
    font-size:15px;
    padding: 7px;
    border-collapse: separate;
    border-bottom-color: black;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    padding: 3px 10px 3px 10px;

}

.contactsTable tr:hover td {
    background-color:#80ced6;
}

.tableActionColumn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tableIdColumn {
    /*width: 50px;*/
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
}

.tableNumberColumn {
    text-align: center;
}

/*
========================================================================================================================
    FORM
========================================================================================================================
*/

.editForm {
    display: grid;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    /*margin: 2rem auto 0 auto;*/
    margin-left: 20px;
    max-width: 400px;
}

form input {
    background-color: #d5f4e6;
    border: 1px solid #9c9c9c;

}
/*
.editForm button {
    padding: 1em;
    width: 50%;
    border: 0;
    margin-top: 0.5rem;
}

.editForm button:hover {
    background-color:#80ced6;
    color: black;
}
*/
label {
    padding: 10px 10px 5px 0;
}

input {
    padding: 10px;
}
input:focus {
    outline: 3px solid silver;
}

.editPhoneNumberPart {
    display: grid;
    grid-template-columns: 25% 75%;
}

.editPrefix {
    text-align: center;
}
/*
.editNumber {
    flex-basis: 75%;
}
*/
/*
========================================================================================================================
    BUTTON
========================================================================================================================
*/
.myButton {

    background-color: darkslategrey;

    border-radius:6px;
    border:1px solid #80ced6;
    display:inline-block;

    color: floralwhite;

    font-size:15px;
    font-weight:bold;
    text-align: center;

    text-decoration:none;

}

.tableButton {
    width: 80px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
}

.addAndUpdateButton {
    margin-top: 20px;
}

.editButton {
    padding-top: 4px;
}


/*
========================================================================================================================
    PAGINATION
========================================================================================================================
*/

.pagination {
    margin-left: 100px;
    margin-top: 10px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: darkslategrey;
    color: floralwhite;
}

.pagination a:hover:not(.active) {
    background-color: #d5f4e6;
}